* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1
 }
 
 nav {
    background: #5d8ffc;
    padding: 5px 20px;
 }
 
 ul {
    list-style-type: none;
    /* width: 100%; */
    align-items: center;
 }
 a{
    color: white;
    text-decoration: none;
    /* align-content: center; */
 }
 
 a:hover {
    text-decoration: underline;
 }
 
 .logo a:hover {
    text-decoration: none;
 }
 
 .menu li {
    font-size: 16px;
    padding: 10px 10px;
    flex-wrap: nowrap;
 }
 
 
 /* ul img {
    max-width: 100px;
    max-height:50px;
    padding: 0;
    margin: 0;
 } */
 
 
 .logo a,
 .toggle a {
    font-size: 20px;
 }
 
 .button.secondary {
    border-bottom: 1px solid #f1f1f19c;
 }
 
 
 .menu {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .toggle {
    order: 1;
 }
 .logo{
    order: 2;
 }
 .item{
    order: 3;
    text-align: center;
    display: block;
 }
 .button.item {
    order: 4;
 }
 .button.logout{
    order: 4;
 } 
 
 .item.active {
    display: inline-block;
    /* flex-direction: column; */
 }
 .button.secondary {
    border: 0;
 }
 .button a {
    padding: 7px 15px;
    background: #5d8ffc;
    border: 1px solid #09dddd;
    border-radius: 5px;
    text-decoration: none;
 }
 
 .button a:hover {
    background:#5083f1d2;
 }
 
 .button.logout a{
     padding: 7px 15px;
     background-color: rgb(255, 59, 134);
     border: 1px solid #ff002b;
     border-radius: 5px;
    text-decoration: none;
 }
.button.logout a:hover{
    background-color: rgb(255, 0, 98)
}
 /* img{
    width:
 } */
    





 /* Mobile Menu */
 @media all and (max-width: 600px) {
    nav {
       flex-direction: column;
       align-items: flex-start;
       justify-content: space-between;
    }
    .menu {
       justify-content: space-around;
    }
    .item{
       display: none;
    }
    .logo{
       order: 1;
    }
    .toggle{
       order: 2;
    }
 }
 .logo1{
    position: absolute;
    left: 200px;
    width: 40%;
    justify-content: center;
    align-content: center;
    
}
.flexbox{
    display : Flex;
    position: absolute;
    right: 300px;
    box-sizing: border-box;
    justify-content: center;
}

.item{
    display: block;
    box-sizing: border-box;
    width: 400px
    text-decoration: none ;
    
}
.content{
    background-color :rgb(128, 115, 245);
    border: 2px solid  white;
    padding: 10px ;
}